<div class="row">
  <div class="about px-5 mb-5 col-xl-10 offset-xl-1 col">
      <h2 class="mb-4">Discover books with recommendations you trust.</h2>
      <p>
        Want to know what habit almost all successful people have in common? They read constantly.
      </p>
      <ul>
        <li>
          Warren Buffet spends <a href="http://www.businessinsider.com/warren-buffett-favorite-business-books-2014-8" target="_blank">80% of every day</a> reading.
        </li>
        <li>
          Bill Gates reads about <a href="http://www.businessinsider.com/why-bill-gates-reads-50-books-a-year-2015-11" target="_blank">50 books every year</a>.
        </li>
        <li>
          Mark Cuban reads at least <a href="http://www.entrepreneurslife.com/thoughts/entry/mark-cuban-on-knowledge-acquisition-michael-dell-and-more/" target="_blank">3 hours every day</a>.
        </li>
      </ul>
      <p>
        And the list goes on and on. In fact, a <a href="http://www.businessinsider.com/rich-people-like-to-read-2015-8" target="_blank">recent study</a> found that the key to becoming wealthy may be self-educating through books. That's where we come in. Bookshelves is a catalog of books recommended by successful people in a variety of fields. Our goal is to make it effortless for you to find books that will expand your mind and help you find success in your own life.
      </p>
  </div>
</div>
